.a {
	cursor: pointer;
}
.color {
	display: flex;
}
.color input {
	margin-top: 5px;
	margin-right: 5px;
}
#slide100-01 img {
    width: 461px;
}
.main-frame, .sub-frame {
     position: relative; 
     overflow: inherit; 
}