.a {
  cursor: pointer;
}
.childrencartegory {
  display: block;
  padding-left: 20px;
}
.sidebar-list li {
  display: block !important; 
}
.sidebar-list li a.active {
  color: #ffc107 !important;
}
.sidebar-list li .number {
  float: right;
}